.img1-home{
    height: 500px;
    width: 90%;
    overflow: hidden;      
}
.img1Home{
    background-size:cover;
    width: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed; 
}
.contener{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
#Categorias{
    padding-bottom: 2%;
}
.contenerLogin{
    width: 100%;
    height: auto;
    background: rgb(239,0,255);
background: linear-gradient(90deg, rgba(239,0,255,1) 0%, rgba(237,255,0,1) 50%, rgba(244,0,255,1) 100%);
}