/*-------------------------Index----------------------------------*/

.myContainer {
    text-align: left;
    border-radius: 5px;  
    padding: 10px;  

}

.link-imagem:link {
   color: black;
   font-style: oblique;
   text-decoration: none;
}

.imagemBanner {
    border-radius: 5px;  
    align-content: center;
    image-orientation: center;
}

.myContainer2 {
    border-radius: 5px;
    padding: 15px;
}

.titulos {
    font-style: oblique;
    font-size: 40px;
}

.subTitulos {
    font-style: oblique;
    font-size: 20px;  
}

.imagensHome {     /*circulos*/
    width: 170px;
    height: 170px;
    border: 4px solid whitesmoke;
}


/*-----nav------*/

.tamanhoNav{
    height: 50px;
}

/*-----nav------*/


/*-----------------------Responsividade-----------------*/

@media (max-width:992px) and (min-width:576px){
    .PlanoBasico{
        width: 60%;
    }
}

/*------------------rodape-----------------*/

.footer {

    background-color: #363636;
    color: white;
    flex-grow: 1;   
    padding: 20px; 
 }

 .rodape {
    overflow: hidden;
 }

 .textoRodape {  
    text-align: center;
    font-style: oblique;
 }

.link-rodape:link {
   color: #FFFF;
   font-style: oblique;
   text-decoration: none;
}

.link-rodape:visited {
   color: gray;
   font-style: oblique;
   text-decoration: none;
}

.titulosRodape {
   font-size: 18px;
   font-style: oblique;
}

.botaoRodape {
    align-content: center;
}

/*------rodape--------*/

/*----------login------------*/

.form-group {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}

.submit-button {
  background-color: green;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.message {
  color: red;
  margin-top: 10px;
}

.containerLogin {
  background-color: pink;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.bodyIndex {
  background-color: #f1f1f1;
}

/*----------login------------*/

.preco {
    font-style: bold;
    font-size: 20px;
    color: green;
}
 /*-----------------------------------------------------*/

 a {
  text-decoration: none;
  color: #a76b12; 
}

.bgGradient{
  background: -webkit-linear-gradient(to right, #a76b12, #a71168);
  background: linear-gradient(to right, #a76b12, #a71168);
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.containerPlan{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container .pricing__table {
  display: block;
  padding: 20px;
  background: #ccc;
  overflow: hidden;
  width: 300px;
  margin: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container .pricing__table:nth-child(1) {
  background-image: linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
}

.container .pricing__table:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 100;
}

.pricing__table .icon {
  display: block;
  width: 70px;
  height: 70px;
  background: #fff;
  text-align: center;
  line-height: 70px;
  font-size: 2.2em;
  margin: 20px auto;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.pricing__table .icon span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pricing__table .type-01 {
  color: #FCCF31;
}

.heading {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-weight: lighter;
  padding: 10px;
  font-size: 1.2em;
}

.service__price {
  color: #fff;
  text-align: center;
  font-size: 3em;
}

.features__list {
  list-style: none;
  display: block;
  text-align: center;
  width: 85%;
}

.features__list li {
  color: #fff;
  text-align: center;
  display: block;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 0.9em;
  height: 30px;
  line-height: 30px;
}

.order__button {
  border: none;
  display: block;
  width: 70%;
  height: 40px;
  margin: 5px auto;
  border-radius: 50px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 1);
  background: #fff;
  cursor: pointer;
}

.order__buttonn {
  border: none;
  display: block;
  width: 70%;
  height: 40px;
  margin: 5px auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  background: #a76b12;
  cursor: pointer;
}

.order__button:focus {
  outline: none;
}
/*----------Mapa------------*/
#map{
  position: relative;
  width: 100%;
  height: 89vh;
}
.mapboxgl-popup {
  max-width: 300px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
.geocoder-dropdown-item {
  padding: 5px;
  }
.geocoder-dropdown-icon {
  margin-top: -6px;
  margin-right: 10px;
  }
.geocoder-dropdown-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  }
.custom-marker {
  background-image: url('https://cdn-icons-png.flaticon.com/512/726/726569.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.text-popup{
  text-align:left; 
  margin-top:12px;
}
.marker-title{
  margin-left: -15px;
  margin-top: 30px;
  min-width: 100px;
  font-weight: 900;
}
.pesquisaMap{
  margin-top: -85vh; 
  position: absolute;
}
#searchInput{
  margin-left: 20px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}
@media (max-width:450px) and (min-width:0px){
  .pesquisaMap{
    scale: 1.3;
    margin-left: 4vw;
    margin-top: -87vh; 
    position: absolute;
  }
}
/* PAPELARIAS */

