.img1-home{
    height: 600px;
    width: 100%;
    overflow: hidden;      
}
.img1Home{
    background-size:cover;
    width: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed; 
}
.contener{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}
.Espaco{
    padding-bottom: 2%;
}
.contenerLogin{
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #F557D4 0%, #F4EB72 50%, #F557D4 100%);
}
.imagensHome{
    width: 150px;

}
.botao{
    width: 200px;
    border-radius: 100px;
     padding-top: 2%;
     padding: 2%;
}
.ProdutosEspaco {
padding-bottom: 4%;
}
.buscarProdutos{
    width: max-content; 
    padding-left: 2%;
    
}
.EspacoLeft{
    padding-left: 2%;
}
.semBroda{
    border: 0px;
}
.loginCadastro{
    align-items: center;

}
.containerLogin{
    display: flex;
    text-align: center;

}
.formLogin{
    background-color: white;
    border-radius: 25px;
    width: 300px;
    height: 250px;
}
.textLogin{
    text-align: center;
    padding: 5px;
}
.imglogin{
 display: flex;
 border-radius: 25px;
 padding-right: 5px;
}
.form{
    padding: 5px;
}
.loginCadastro{
    display: flex;
    padding-top: 10%;
    padding-left: 33%;
}
.input100{  
    border-top: none;
    border-left: none;
    border-right: none;
}
.btnLogin{
    background-color: #5FDB8E;
    border-radius: 25px;
    border: none;
    width: 150px;
    color: white;
    
}
.espacoTop{
padding-top: 10px;
}
.tamanhoNav{
    height: 50px;
}
.limitador{
    height: 600px;
    width: 600px;
}
.formCadastro{
    background-color: white;
    border-radius: 25px;
    height: 400 px;
    width: 600px;
}
/*----------------------------------------------------SobreNos------------------------------------------------------------------------*/
.sobreNosTitulo{
    text-align: center;
    padding: 2%;

}
.TextoSobreNos{
    text-align: center;
    font-size: 26px;
}
.containerTxt1{
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
}
.img1SobreNos{
    padding-left: 3%;
    width: 650px;
    height: 400px;
    overflow: hidden;
    float: left;
    
    
}
.containertxt2{
  padding-top: 100px;
  padding-right: 20px;
  padding-right: 20px;

}





